{% extends 'adminkt/base.html' %}
{% block title %}
Quản lý lớp
{% endblock title %}
{% load staticfiles %}
{% block body %}
<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Danh sách lớp </h2>
          <!-- <button class="btn btn btn-round btn-primary" style="float:right;" data-toggle="modal" data-target="#new_class_multi"
            data-title="new">
            <i class="fa fa-plus"></i> Thêm nhiều lớp
          </button> -->
          <button class="btn btn-round btn-primary" style="float:right;" data-toggle="modal" data-target="#add_student"
          data-title="new">
          <i class="fa fa-users"></i> Thêm sinh viên vào lớp
          </button>
          <button class="btn btn-round btn-primary" style="float:right;" data-toggle="modal" data-target="#new_class"
            data-title="new">
            <i class="fa fa-plus"></i> Tạo mới lớp
          </button>
          
          <div class="clearfix"></div>
        </div>

        <div class="x_content">

          <div class="">
            <table class="table table-striped jambo_table bulk_action" id="list_class" width="100%">
              <thead>
                <tr>
                  <th>Lớp</th>
                  <th>Môn</th>
                  <th>Khóa học - Hệ</th>
                  <th>Học sinh</th>
                  <th>Tùy chọn</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="detail_student" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="detail_student_title"></h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped jambo_table bulk_action" id="list_student" width="100%">
          <thead>
            <tr>
              <th>Họ tên</th>
              <th>Mã sinh viên</th>
              <th>Tuổi</th>
              <th>Đơn vị</th>
              <th>Tùy chọn</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="new_class" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="change_class_title"></h4>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="kieu">
        <input type="hidden" name="id">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" name="ten" required placeholder="Tên lớp">
          <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input list="ls" type="text" class="form-control has-feedback-left" name="khoa" required placeholder="Tên khóa - Hệ">
          <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
          <datalist id="ls">
            {% for k in ds_khoa %}
            <option data-khoa="{{k.id}}">{{k.tenKhoaHoc}} - {{k.he}} </option>
            {% endfor %}
          </datalist>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input list="lssa" type="text" class="form-control has-feedback-left" name="mon" required placeholder="Môn học">
          <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
          <datalist id="lssa">
            {% for k in mon %}
            <option data-mon="{{k.id}}">{{k.tenMon}}</option>
            {% endfor %}
          </datalist>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_new_class">Cập nhật</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="add_student" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="change_class_title">Thêm sinh viên vào lớp</h4>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="kieu">
          <input type="hidden" name="id">
          <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
            <input list="lsl" type="text" class="form-control has-feedback-left" name="tenlop" required placeholder="Tên lớp">
            <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
            <datalist id="lsl">
              {% for k in ds_lop %}
              <option data-lop="{{k.id}}">{{k.tenLop}}</option>
              {% endfor %}  
            </datalist>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
            <input list="lsa" type="text" class="form-control has-feedback-left" name="masv" required placeholder="Tên sinh viên">
            <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
            <datalist id="lsa">
              {% for k in ds_sinhvien %}
              <option data-sv="{{k.id}}">{{k.tenSinhVien}} - {{k.maDonVi.tenDonVi}} </option>
              {% endfor %}  
            </datalist>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="save_add_sv">Thêm sinh viên</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
<!-- <div class="modal" id="new_class_multi" role="dialog">
  <div class="modal-dialog">
   
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nhập dữ liệu theo mẫu dưới</h4>
      </div>
      <div class="modal-body">
        <img style="border: 1px solid; border-radius: 10px;" src="{% static '/image/class.PNG' %}" width="100%">
        <br>
        <br>
        <input type="file" name="file" id="file" class="form-control">
        <div class="clearfix"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="create_new_class_multi">Upload</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div> -->
{% endblock body %}
{% block js %}
  <script src="{% static 'build/js/adminkt/xlsx.full.min.js' %}"></script>
  <script src="{% static 'build/js/adminkt/manager_lop.js' %}"></script>
{% endblock js %}