{% extends 'adminkt/base.html' %}
{% block title %}
Quản cán bộ
{% endblock title %}
{% load staticfiles %}
{% block body %}
<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Danh sách cán bộ </h2>
          <button class="btn btn btn-round btn-primary" style="float:right;" data-toggle="modal" data-target="#new_teacher_multi"
            data-title="new">
            <i class="fa fa-users"></i> Thêm nhiều cán bộ
          </button>
          <button class="btn btn-round btn-primary" style="float:right;" data-toggle="modal" data-target="#new_teacher"
            data-title="new">
            <i class="fa fa-user-plus"></i> Thêm cán bộ
          </button>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div>
            <table class="table table-striped jambo_table bulk_action" id="list_canbo" width="100%">
              <thead>
                <tr>
                  <th>Họ tên</th>
                  <th>Mã cán bộ</th>
                  <th>QUân hàm</th>
                  <th>Đơn vị</th>
                  <th>Tên đăng nhập</th>
                  <th>Trạng thái</th>
                  <th>Tùy chọn</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="new_teacher" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="teacher_title">Thêm mới cán bộ</h4>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="gvid">
        <input type="hidden" name="kieu">

        <div class="col-md-12 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" name="fullname" placeholder="Họ tên" required>
          <span class="fa fa-font form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" name="username" placeholder="Tên đăng nhập"
            required>
          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 form-group has-feedback">
          <input type="email" class="form-control has-feedback-left" name="email" placeholder="Email" required>
          <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 form-group has-feedback passwd">
          <input type="password" class="form-control has-feedback-left" name="password" placeholder="Mật khẩu" required>
          <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 form-group has-feedback passwd">
          <input type="password" class="form-control has-feedback-left" name="password2" placeholder="Nhập lại mật khẩu"
            required>
          <span class="fa fa-repeat form-control-feedback left" aria-hidden="true"></span>
        </div>
        <div class="col-md-12 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" name="quanham" placeholder="Nhập quân hàm cán bộ"
            required>
          <span class="fa fa-book form-control-feedback left" aria-hidden="true"></span>
        </div>
        <div class="col-md-12 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" name="macanbo" placeholder="Nhập mã cán bộ"
            required>
          <span class="fa fa-book form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 form-group has-feedback">
          <input list ="ls" class="form-control  has-feedback-left" type="text" id="donvi" name="donvi" placeholder="Đơn vị">
          <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
          <datalist id="ls">
            {% for k in ds_donvi %}
            <option data-donvi="{{k.id}}">{{k.tenDonVi}} </option>
            {% endfor %}
          </datalist>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="create_new_teacher">Tạo mới</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="close_new_teacher">Đóng</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="new_teacher_multi" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nhập dữ liệu theo mẫu dưới</h4>
      </div>
      <div class="modal-body">
        <img style="border: 1px solid; border-radius: 10px;" src="{% static 'images/canbo.png' %}" width="100%">
        <br>
        <br>
        <input type="file" name="file" id="file" class="form-control">
        <div class="clearfix"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="create_new_teacher_multi">Upload</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
{% block js %}
<script src="{% static 'build/js/adminkt/xlsx.full.min.js' %}"></script>
<script src="{% static 'build/js/adminkt/manager_canbo.js' %}"></script>
{% endblock js %}