{% extends 'adminkt/base.html' %}
{% block title %}
Quản đơn vị
{% endblock title %}
{% load staticfiles %}
{% block body %}
<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Danh đơn vị </h2>
          <!-- <button class="btn btn btn-round btn-primary" style="float:right;" data-toggle="modal" data-target="#new_class_multi"
            data-title="new">
            <i class="fa fa-plus"></i> Thêm nhiều lớp
          </button> -->
          <button class="btn btn-round btn-primary" style="float:right;" data-toggle="modal" data-target="#new_class"
            data-title="new">
            <i class="fa fa-plus"></i> Tạo mới đơn vị
          </button>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">

          <div class="">
            <table class="table table-striped jambo_table bulk_action" id="list_dv" width="100%">
              <thead>
                <tr>
                  <th>Tên đơn vị</th>
                  <th>Mã đơn vị</th>
                  <th>Tùy chọn</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="detail_student" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="detail_student_title"></h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped jambo_table bulk_action" id="list_student" width="100%">
          <thead>
            <tr>
              <th>Họ tên</th>
              <th>Giới tính</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="new_class" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="change_class_title"></h4>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="kieu">
        <input type="hidden" name="id">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" name="ten" required placeholder="Tên đơn vị">
          <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" name="ma" required placeholder="Mã đơn vị">
          <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
          <!-- <datalist id="ls">
            {% for k in ds_khoa %}
            <option data-khoa="{{k.id}}">{{k.tenKhoaHoc}} - {{k.he}} </option>
            {% endfor %}
          </datalist> -->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_new_class">Cập nhật</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal" id="new_class_multi" role="dialog">
  <div class="modal-dialog">
   
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nhập dữ liệu theo mẫu dưới</h4>
      </div>
      <div class="modal-body">
        <img style="border: 1px solid; border-radius: 10px;" src="{% static '/image/class.PNG' %}" width="100%">
        <br>
        <br>
        <input type="file" name="file" id="file" class="form-control">
        <div class="clearfix"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="create_new_class_multi">Upload</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div> -->
{% endblock body %}
{% block js %}
  <script src="{% static 'build/js/adminkt/manager_donvi.js' %}"></script>
{% endblock js %}