{% extends 'adminkt/base.html' %}
{% load staticfiles%}
{% block title %}
Quản lý kì thi
{% endblock title %}
{% block body %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Quản lý kì thi</h3>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Danh sách kì thi </h2>
          <div class="" style="float: right;"><a href="javascrip:void()"><button class="btn" id="create_kithi">Tạo kì thi</button></a></div>
          <div class="clearfix"></div>
        
        </div>
        <div class="x_content">
          <!-- <p class="text-muted font-13 m-b-30">
            The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
          </p> -->
            <table id="quanlykithi" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="datatable-buttons_info" style="width: 966px;">
            <thead>
              <tr role="row">
                <th>Mã kì thi</th>
                <th>Môn thi</th>
                <th>Ngày thi</th>
                <th>Tùy chỉnh</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>  
      </div>
    </div>
  </div>
</div>

<div class="modal" id="model_create_kithi" role="dialog">
  <div  class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tạo kì thi</h4>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="kieu">
            <input type="hidden" name="id">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" name="ten" required placeholder="Tên lớp">
                <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <input list="ls" type="text" class="form-control has-feedback-left" name="khoa" required placeholder="Tên khoa">
                <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
                  <datalist id="ls">
                      {% for k in ds_khoa %}
                      <option data-id="{{k.id}}">{{k.ten_khoa}}</option>
                      {% endfor %}
                  </datalist>
              </div>
               <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <input list="lss" type="text" class="form-control has-feedback-left" name="nien_khoa" required placeholder="Tên khóa">
                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                  <datalist id="lss">
                      {% for k in ds_nien_khoa %}
                      <option data-id="{{k.id}}">{{k.ten_nien_khoa}} - {{k.nam_hoc}}</option>
                      {% endfor %}
                  </datalist>
              </div>
             <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Lưu</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
  </div>
</div>

<div class="modal" id="new_teacher" role="dialog">
  <div  class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="new_teacher_title"></h4>
        </div>
        <div class="modal-body">
             <table class="table table-striped jambo_table bulk_action" id="list_teacher" width="100%">
                <thead>
                  <tr>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Bộ môn</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
             <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
  </div>
</div>
<div class="modal" id="delete_kithi" role="dialog">
  <div  class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="delete_kithi_title">Thông báo</h4>
        </div>
        <div class="modal-body">  
             <h4>Bạn có chắc chắn xóa kì thi</h4>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Có</button>
           <button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
        </div>
    </div>
  </div>
</div>

<div class="modal" id="new_class" role="dialog">
  <div  class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="change_class_title"></h4>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="kieu">
            <input type="hidden" name="id">
             <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" name="ten" required placeholder="Tên lớp">
              <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
            </div>
             <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
              <input list="ls" type="text" class="form-control has-feedback-left" name="khoa" required placeholder="Tên khoa">
              <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
                <datalist id="ls">
                    {% for k in ds_khoa %}
                    <option data-id="{{k.id}}">{{k.ten_khoa}}</option>
                    {% endfor %}
                </datalist>
            </div>
             <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
              <input list="lss" type="text" class="form-control has-feedback-left" name="nien_khoa" required placeholder="Tên khóa">
              <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                <datalist id="lss">
                    {% for k in ds_nien_khoa %}
                    <option data-id="{{k.id}}">{{k.ten_nien_khoa}} - {{k.nam_hoc}}</option>
                    {% endfor %}
                </datalist>
            </div>
             <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-primary" id="save_new_class">Cập nhật</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block js %}
<script src="{% static 'build/js/adminkt/managerkithi.js' %}"></script>
{% endblock js %}