{% extends 'adminkt/base.html' %}
{% load staticfiles%}
{% block title %}
Quản lý kì thi
{% endblock title %}
{% block body %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Quản lý kì thi</h3>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Danh sách kì thi </h2>
          <button class="btn btn-round btn-primary"  style="float:right;" data-toggle="modal" data-target="#add_room" data-title="new">
              <i class="fa fa-home"></i> Thêm phòng thi 
          </button>
          <button class="btn btn-round btn-primary"  style="float:right;" data-toggle="modal" data-target="#new_kithi" data-title="new">
              <i class="fa fa-plus"></i> Tạo mới kì thi
          </button>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="quanlykithi" class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-buttons_info" style="width: 100%;">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"  aria-sort="ascending">Tên kì thi</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" >Từ ngày</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" >Đến ngày</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" >Danh sách phòng thi</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" >Tùy chỉnh</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="modal" id="detail_room" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="detail_student_title">Danh sách phòng thi</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped jambo_table bulk_action" id="list_room" width="100%">
            <thead>
              <tr>
                <th>Tên phòng</th>
                <th>Vị trí</th>
                <th>Ngày thi</th>
                <th>Giờ thi</th>
                <th>Lớp thi</th>
                <th>Cán bộ coi 1</th>
                <th>Cán bộ coi 2</th>
                <th>Tùy chọn</th>
              </tr>
            </thead>
            <tbody>
  
            </tbody>
          </table>
          <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal" id="new_kithi" role="dialog">
    <div  class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="change_kithi_title"></h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="kieu">
              <input type="hidden" name="id">
               <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" name="ten" required placeholder="Tên kì thi">
                <span class="fa fa-university form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <div class="col-md-6">
                  <input type="date" class="form-control has-feedback-left" name="tungay" required >
                  <span class="fa fa-edit form-control-feedback left" aria-hidden="true"></span>
                </div>
                <div class="col-md-6">
                  <input type="date" class="form-control has-feedback-left" name="denngay" required >
                  <span class="fa fa-edit form-control-feedback left" aria-hidden="true"></span>
                </div>
                  
              </div>
               <div class="clearfix"></div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary" id="save_new_kithi">Cập nhật</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          </div>
      </div>
    </div>
</div>
<div class="modal" id="add_room" role="dialog">
    <div  class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="change_kithi_title">Thêm phòng thi</h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="kieu">
              <input type="hidden" name="id">
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input list="lskithi" type="text" class="form-control has-feedback-left" name="tenkithi" required placeholder="Tên kì thi">
                  <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
                  <datalist id="lskithi">
                      {% for k in ds_kithi %}
                      <option data-kt="{{k.id}}">{{k.tenKyThi}}</option>
                      {% endfor %}  
                  </datalist>
                </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" name="tenphong" required placeholder="Tên phòng thi">
                <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" name="vitri" placeholder="Vị trí" required >
                  <span class="fa fa-tags form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input type="date" class="form-control has-feedback-left" max="" min="" name="ngaythi" required >
                  <span class="fa fa-calendar-minus-o form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input type="time" class="form-control has-feedback-left" name="gio" required >
                  <span class="fa fa-clock-o form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input type="number" class="form-control has-feedback-left" name="thoiGianthi" value="60" required >
                  <span class="fa fa-clock-o form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input list="lsl" type="text" class="form-control has-feedback-left" name="tenlop" placeholder="Lớp" required >
                  <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                  <datalist id="lsl">
                      {% for k in ds_lop %}
                      <option data-lop="{{k.id}}">{{k.tenLop }} - {{k.maMon.tenMon}}</option>
                      {% endfor %}  
                    </datalist>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input list="lsht" type="text" class="form-control has-feedback-left" name="hinhthuc" placeholder="Hình thức thi" required >
                  <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                  <datalist id="lsht">
                      <option>Tự luận</option>
                      <option>Trắc nghiệm</option>
                      <option>Vấn đáp</option>
                    </datalist>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input list="lscb1" type="text" class="form-control has-feedback-left" name="cbc1" placeholder="Cán bộ coi thi 1" required >
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                  <datalist id="lscb1">
                      {% for k in ds_cb %}
                      <option data-cb="{{k.id}}">{{k.tenCanBo}}</option>
                      {% endfor %}  
                    </datalist>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input list="lscb2" type="text" class="form-control has-feedback-left" name="cbc2" placeholder="Cán bộ coi thi 2" required >
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                  <datalist id="lscb2">
                      {% for k in ds_cb %}
                      <option data-cb="{{k.id}}">{{k.tenCanBo}}</option>
                      {% endfor %}  
                    </datalist>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input list="ls1" type="text" class="form-control has-feedback-left" name="cc1" placeholder="Cán bộ chấm thi 1" required >
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                  <datalist id="ls1">
                      {% for k in ds_cb %}
                      <option data-cb="{{k.id}}">{{k.tenCanBo}}</option>
                      {% endfor %}  
                    </datalist>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input list="ls2" type="text" class="form-control has-feedback-left" name="cc2" placeholder="Cán bộ chấm thi 2" required >
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                  <datalist id="ls2">
                      {% for k in ds_cb %}
                      <option data-cb="{{k.id}}">{{k.tenCanBo}}</option>
                      {% endfor %}  
                    </datalist>
              </div>

               <div class="clearfix"></div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary" id="save_add_room">Cập nhật</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          </div>
      </div>
    </div>
</div>
{% endblock body %}
{% block js %}
<script src="{% static 'build/js/adminkt/manager_kithi.js' %}"></script>
{% endblock js %}