{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chấm thi{% endblock title %}
{% block pagecontent %}
{% block name %}
{{ name }}
{% endblock name %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'build/css/chamtay.css' %}">

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Danh sách sinh viên</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <!-- <h2>Button Example <small>Users</small></h2> -->
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table id="" class="table table-striped table-bordered danhsachsinhvien">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên sinh viên</th>
                  <th>Mã sinh viên</th>
                  <th>Môn thi</th>
                  <th>Đơn vị</th>
                  <th>Trạng thái</th>
                  <th>Lý do</th>
                  <th>Ghi chú</th>
                  <th>Điểm</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
{% endblock pagecontent %}
{% block js %}

  <script>
    $(document).ready(function() {
      id = '{{ id }}'
      var table = $('.danhsachsinhvien').DataTable({
        paging: false,
        destroy: true,
          "ajax": {
              "type": "GET",
              "url": "/data-sv/" + id,
              "dataSrc": "",
              "async": "false"
          },
          "columns": [
              {
                "data": "no"
              },
              {
                "data": "tensinhvien"
              },
              {
                "data": "masinhvien",
              },
              {
                "data": "monhoc"
              },
              {
                "data": "tendonvi"
              },
              {
                "data": "trangthai"
              },
              {
                "data": "lydo"
              },
              {
                "data": "ghichu"
              }
          ],
          "columnDefs":[
            {
              "targets": 8,
              "width": "10%",
              "data": null,
              "defaultContent":`{% csrf_token %}<input type='file' class='form-control diem' />`
            }
          ],
          createdRow: function(row, data, dataIndex) {
            $(row).find('.diem').attr('data-idsv', data["idsv"]).attr('data-idmon', data['mamon']).attr('id', 'cham').attr('data-idlop', data['idlop'])
          },
      })
    
      $('.danhsachsinhvien').on('change', 'input', function(e) {
        var idsv = $(this).data('idsv')
        console.log(idsv)
        var idlop = $(this).data('idlop')
        console.log(idlop)
        var bailam = $(this)[0].files;
        console.log(bailam)
        if (bailam.length > 0) {
          $.ajax({
            type: 'POST',
            url: 'post-bailam/',
            data: {
              'idsv': idsv,
              'idlop': idlop,
              'bailam': bailam,
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function() {
              console.log("success !")
            }
          })
        } else {

        }
      })
    })
  </script>
{% endblock js %}
